<header class="row mx-0">
    <div class="col-6 d-flex align-items-center">
        <h1 class="text-center">Agenda de vacinação para o Covid-19</h1>
    </div>
    <nav class="col-6 d-flex justify-content-end align-items-center">
        <ul class="list-inline">
            <li class="list-inline-item me-4">
                Olá, Fulano
            </li>
            <li class="list-inline-item me-4">
                <a href="#">Meus agendamentos</a>
            </li>
            <li class="list-inline-item me-4">
                <span>🔔</span> <!-- Ícone de notificação -->
            </li>
        </ul>
    </nav>
</header>