<form [formGroup] = "cadastroAgendamentoForm" (ngSubmit)="onSubmit()">
    <h6>Informações do paciente</h6>
    <div class="mb-3">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="pacienteNome">
        </mat-form-field>
    </div>
    <div class="mb-3">
        <mat-form-field>
            <mat-label>Data de nascimento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="pacienteDataNascimento">
            <mat-hint>DD/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <h6>Data e hora para a vacinação</h6>
    <div class="mb-3">
        <mat-form-field>
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="dataAgendamento">
            <mat-hint>DD/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="mb-3">
        <mat-form-field>
            <mat-label>Horario</mat-label>
            <input type="time" matInput [min]="6" [max]="19" formControlName="horarioAgendamento">
        </mat-form-field>
    </div>
    <div class="mb-3">
        <button mat-raised-button>Enviar</button>
    </div>
</form>
